# PlatformIO
.pio/
.vscode/

# Build artifacts
build/
sdkconfig.old
sdkconfig.esp32s3
sdkconfig.cyd
sdkconfig.cyd-*
sdkconfig.cyd35

# macOS
.DS_Store

# Credentials (if user creates a local override)
config_local.h
